# Server Configuration

# MongoDB Connection
MONGODB_URI=mongodb://localhost:27017/truthlens

# Server Configuration
PORT=5000

# Sightengine API (https://sightengine.com/)
SIGHTENGINE_API_USER=your_sightengine_user
SIGHTENGINE_API_SECRET=your_sightengine_secret

# SerpApi (https://serpapi.com/)
SERPAPI_KEY=your_serapi_key

# Frontend URL for CORS
CLIENT_URL=http://localhost:5173
